html,body{
    padding: 0;
    margin: 0;
    background-color: #FFFFFF;
}

.Container{
    background-color: #97a5bb;
    display: flex;
    width: 100%;
    flex-direction: row;
}

.header{
    background-color: #b2c0d6;
    border-radius: 0px 0px 4px 4px;

    width: 25%;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    font-weight: 600;
    transition: 250ms;
}

.headerSel{
    background-color: #ddebff;
    border-color: #92a4b169;
    border-radius: 0px 0px 4px 0px;
    width: 25%;
    text-align: center;
    height: 40px;
    padding-top: 10px;
    font-weight: 600;
    transition: 250ms;
}


.content{
    text-align: center;
    padding-top: 200px;
}


.dropdown{
    border: none;
}

.subList{
    float: right;
    position: absolute;
    z-index: 1;
    background-color: #b2c0d6;
    padding: 6px;
    border-radius: 12px;
}

.listItem{
    background-color: #b2c0d6;
    border-bottom: solid;
    border-width: 0.5px;
    border-color: #9dacc3;
    border-radius: 3px;
    transition: 100ms;
}

.listItemSel{
    background-color: #ddebff;
}